<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>后台首页</title>
    <link rel="stylesheet" href="/lib/layui-v2.5.5/css/layui.css" media="all">
</head>
<body>
<div><h1 style="text-align: center">钢铁销量管理分析管理系统</h1>
    <div class="layui-container">
        <ul>
            主要功能模块
            <li>一、用户管理
            </li>
            <li>
                二、产品管理
            </li>
            <li>
                三、销售管理
            </li>
            <li>
                四、订单管理
            </li>
            <li>五、数据分析</li>
        </ul>
        <h2 style="margin-top: 50px">数据分析</h2>
        <p class="layui-bg-cyan">数据分析可以根据起始日期进行查询钢铁的销售数据，销售数据可以根据不同地区不同类型的钢铁销售情况，同一地区不同钢铁的销售情况，统计图可实现三种统计图的互相转换。</p>
    </div>
</div>
</body>
</html>