<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据分析</title>
    <link rel="stylesheet" href="/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/public.css" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layui-card">
        <div class="layui-card-header">销量分析</div>
        <div class="">
            <div class="layui-form layuimini-form">
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label required">选择条件：</label>
                    <div class="layui-input-inline">
                        <select lay-filter="selectType" lay-verify="required">
                            <option value="">请选择</option>
                            <option value="1">按商品分类</option>
                            <option value="2">按仓库地区</option>
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <select name="id" id="selects" lay-verify="required">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>
                <p></p>
                <div class="layui-form-item layui-input-inline">
                    <label class="layui-form-label">起始时间：</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" id="startTime"
                               name="startTime">
                    </div>
                </div>
                <div class="layui-form-item layui-input-inline">
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" id="endTime"
                               name="endTime">
                    </div>
                </div>
                <div class="layui-input-inline" style="margin-left: 5%;margin-bottom: 14px">
                    <button class="layui-btn" lay-submit lay-filter="saveBtn">查询</button>
                </div>
            </div>
        </div>
        <div class="layui-card-body" style="position: absolute">
            <i id="line"
               style="display: inline-block;width: 18px;height: 16px;position: relative; z-index: 1; left: 496px;top: 30px"></i>
            <i id="bar"
               style="display: inline-block;width: 18px;height: 16px; position: relative; z-index: 1; left: 500px;top: 30px"></i>
            <i id="pie"
               style="display: inline-block;width: 18px;height: 16px; position: relative; z-index: 1; left: 506px;top: 30px"></i>
            <div id="EchartZhu" style="width: 600px;height: 400px;">
            </div>
        </div>
    </div>

</div>
</div>
<script src="/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script src="http://localhost:81/js/echarts.min.js"></script>
<script>
    let chartData = {
        toolbox: {
            show: true,
            feature: {

                dataView: {readOnly: false},
                magicType: {type: ['line', 'bar', 'stack' ]},
                saveAsImage: {}
            }
        },
        bing: [],
        x: [],
        y: []
    }

    function renderChartData(data) {
        chartData.bing = []
        chartData.x = []
        chartData.y = []
        data.forEach(v => {
            chartData.bing.push({
                value: v.amount,
                name: v.name
            })
            chartData.x.push(v.name)
            chartData.y.push(v.amount)
        })
    }

    let myEcharts = echarts.init(document.getElementById('EchartZhu'))

    layui.use(['form', 'laydate'], function () {

        var $ = layui.$,
            form = layui.form,
            laydate = layui.laydate;

        //日期时间选择器
        laydate.render({
            elem: '#startTime'
            , value: '2021-1-1 '
            , type: 'date',
            min: -180,
            max: 0
        });
        //日期时间选择器
        laydate.render({
            elem: '#endTime'
            , value: new Date()
            , type: 'date',
            min: -180,
            max: 0
        });


        function doRender() {
            //指定图表配置项和数据
            var optionchartZhu = {
                title: {
                    text: '钢铁销量分析'
                },
                toolbox: chartData.toolbox,
                tooltip: {},
                legend: {
                    data: ['销量']
                },
                xAxis: {
                    data: chartData.x
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    name: '销量',
                    type: 'bar',
                    data: chartData.y,
                    itemStyle: {
                        normal: {
                            color: 'blue'
                        }
                    }
                }]
            };
            var optionchartZhe = {
                title: {
                    text: '钢铁销量'
                },
                toolbox: chartData.toolbox,
                tooltip: {},
                legend: { //顶部显示 与series中的数据类型的name一致
                    data: ['销量']
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false, //从起点开始
                    data: chartData.x
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    name: '销量',
                    type: 'line', //线性
                    data: chartData.y,
                }]
            };
            var optionchartBing = {
                title: {
                    text: '钢铁销量分析',
                    // subtext: '按分类', //副标题
                    x: 'center' //标题居中
                },
                toolbox: chartData.toolbox,
                tooltip: {
                    trigger: 'item' //悬浮显示对比
                },
                legend: {
                    orient: 'vertical', //类型垂直,默认水平
                    left: 'left', //类型区分在左 默认居中
                    data: ['生铁', '粗钢', '钢材', '产量']
                },
                series: [{
                    type: 'pie', //饼状
                    radius: '60%', //圆的大小
                    center: ['50%', '50%'], //居中
                    data: chartData.bing
                }]
            };
            myEcharts.setOption(optionchartZhu, true);

            $('#bar')[0].onclick = () => myEcharts.setOption(optionchartZhu, true)
            $('#line')[0].onclick = () => myEcharts.setOption(optionchartZhe, true)
            $('#pie')[0].onclick = () => myEcharts.setOption(optionchartBing, true)
        }
        // 监听选择类型
        let type
        form.on('select(selectType)', function (data){
            // console.log(data)
            let _url
            if (data.value==1) {
                _url = '/sort?page=1&limit=0'
                type = 1
            }

            if (data.value==2) {
                _url = '/region?page=1&limit=0'
                type = 2
            }


            $.ajax({
                type: 'get',
                url: _url,
                dataType: 'json',
                success: resp => {
                    let selects = $('#selects')[0]
                    $('#selects').empty()
                    const opt = document.createElement('option')
                    const results = resp.data
                    // console.log(results)
                    results.forEach(row => {
                        let option = opt.cloneNode()
                        if(type==1){
                            option.value = row.sid
                        }else {
                            option.value = row.rid
                        }
                        option.innerHTML = row.name
                        selects.appendChild(option)
                    })
                    layui.form.render()
                }
            })
        })
        form.on('submit(saveBtn)', function (data) {
            let params = data.field
            //执行实例
            // console.log(params)
            let urlPre = '/sortAna?id='
            if (type==2) urlPre = '/regionAna?id='
            $.ajax({
                type: 'get',
                url: urlPre + params.id + '&startTime=' + params.startTime + '&endTime=' + params.endTime,
                dataType: 'json',
                success: resp => {
                    // console.log(resp)
                    renderChartData(resp.data)
                    doRender()

                }
            })
        })

        $.ajax({
            type: 'get',
            url: 'http://localhost:81/sortAna?id=1&startTime=2021-01-01&endTime=2021-04-22',
            dataType: 'json',
            success: resp => {
                const data = resp.data
                renderChartData(data)
                doRender()
            }
        })
    })


</script>
</body>
</html>