<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>用户列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/public.css" media="all">
</head>
<body>
<div class="layuimini-container">
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加</button>
            <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除</button>
        </div>
    </script>

    <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

    <script type="text/html" id="currentTableBar">
        <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
    </script>

</div>
</div>
<script src="/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script>
    //配置插件目录
    layui.config({
        base: ['http://localhost:81/js/lay-module/']
        , version: '1.0'
    }).extend({ //设定模块别名
        miniTab: 'layuimini/miniTab'
    });
    layui.use(['form', 'table','miniTab'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        table.render({
            elem: '#currentTableId',
            url: '/user',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports'],
            cols: [[
                {type: "checkbox", width: 50},
                {field: 'uid', width: 80, title: 'ID', sort: true},
                {field: 'username', width: 120, title: '用户名'},
                {field: 'sex', width: 80, title: '性别', sort: true},
                {field: 'province', width: 80, title: '省份'},
                {field: 'city', width: 100, title: '城市'},
                {field: 'county', width: 80, title: '区/县'},
                {field: 'phone', width: 120, title: '手机'},
                {field: 'email', width: 160, title: '邮箱'},
                {field: 'experience', width: 80, title: '积分', sort: true},
                {title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center"}
            ]],
            limits: [5, 10, 15, 20],
            limit: 5,
            page: true,
            skin: 'line'
        });

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                var index = layer.open({
                    title: '添加用户',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: './table/user-add.html',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'delete') {  // 监听删除操作
                var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;
                layer.alert(JSON.stringify(data));
            }
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            // console.log(obj.data)
            function getCheckedIds() {
                var checkStatus = table.checkStatus('currentTableId')
                var data = checkStatus.data;
                var ids = [];
                data.forEach(function (v, i) {
                    ids.push(v.id)
                });
                return ids;
            }

            var ids = getCheckedIds()
            // console.log(ids)

            $('.data-delete-btn').off("click").on("click", function () {
                if (ids != null) {
                    $.ajax({
                        type: 'delete',
                        contentType: "application/json;charset=utf-8",
                        url: '/user/list?ids='+ids,
                    })
                }
            });
        });
        table.on('tool(currentTableFilter)', function (obj) {
            // 对所选编辑行数据编码
            var data = encodeURI(JSON.stringify(obj.data));
            if (obj.event === 'edit') {
                var index = layer.open({
                    title: '编辑用户',
                    type: 2,
                    shade: 0.2,
                    maxmin: true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: './table/user-edit.html?' + data,
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
                return false;
            } else if (obj.event === 'delete') {
                var uid = JSON.stringify(obj.data.uid)
                layer.confirm('真的删除行么', function (index) {
                    $.ajax({
                        type: 'delete',
                        contentType: "application/json;charset=utf-8",
                        url: '/user?uid=' + uid,
                        dataType: 'json',
                        success: resp => {
                            // console.log(resp)
                            var index = layer.alert("用户：" + uid, {
                                title: '删除成功！'
                            }, function () {

                                // 关闭弹出层
                                layer.close(index);

                                var iframeIndex = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(iframeIndex);

                            });
                        },
                        error: (resp) => {
                            var index = layer.alert(resp, {
                                title: '删除失败！'
                            }, function () {

                                // 关闭弹出层
                                layer.close(index);

                                var iframeIndex = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(iframeIndex);

                            });
                        }
                    })
                    var index = layer.alert(uid, {
                        title: '最终的提交信息'
                    }, function () {

                        // 关闭弹出层
                        layer.close(index);

                        var iframeIndex = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(iframeIndex);

                    });
                    obj.del();
                    layer.close(index);
                });
            }
        });

    });
</script>

</body>
</html>